html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#banner {
  background: #333;
  color: white;
  padding: 5px;
  font-size: 10px;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}